<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display property</title>
    <link rel="stylesheet" href="index.css">

</head>
<body>
   <header>
    <nav>
     <a href="">home</a>
     <a href="">about</a>
     <a href="">contact</a>
     <a href="">product</a>
    </nav>
   </header>
   <main>
    <div class="div1"></div>
    <div class="task3">
        <div class="div3" id="div1">div1</div>
        <div class="div3" id="div2">div2</div>
        <div class="div3" id="div3">div3</div>
    </div>
    <div class="task4">
        fix
    </div>
  

   </main>

   <footer>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium inventore dolorem doloremque soluta vel voluptates nesciunt minima fugit praesentium! Quia, ad possimus veniam id eum rerum quo, distinctio provident sunt voluptates, alias neque quos consequatur a doloribus repellendus expedita facilis mollitia. Dolorum minus quaerat ut optio. Quos ratione ipsam, iure nulla incidunt omnis quidem expedita quisquam optio, dolores exercitationem quo!</footer>
</body>
</html>